{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    {% for block in block_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{block.title}}</h2>
          <div>
            <p>{{block.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'block' block.id block.title|slugify %}">Leer más</a>
              <!--
              {% if request.user.is_staff %}
                | <a href="#">Editar</a>
                | <a href="#">Borrar</a>
              {% endif %}
              -->
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
