{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "History" %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
        <h1>{% trans "Historial de transferencias" %}</h1> <br>
    </div>
    <p>
        {% for tx in txs reversed %}
        <h4> <a href="https://chainz.cryptoid.info/crw/tx.dws?{{tx.tx_id}}" target="_blank">{{tx.tx_id}}</a></h4>
           <p>Cantidad: {{ tx.amount }} CRW // Dirección: {{ tx.address }} //  Fecha: {{ tx.date }}</p><br>    
        {% endfor %}
        </p>
  </div>
</main>
{% endblock %}
