{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado de Proyectos{% endblock %}
{% block content %}
{% include 'projects/includes/projects_menu.html' %}
<main role="main">
  <div class="container mb-4">
    {% for project in object_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
            <div class="card mt-4 mb-4 box-shadow">
            <img class="card-img-top" src="{{project.image.url}}" alt="{{project.title}}">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.content|striptags|safe|truncatechars:"200"}}</p>
              <h6><b>Goal: </b><span class="badge badge-primary">{{project.amount_goal}} CRW</span></h6>
              <p>
              <p><b>Progress: </b></p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}">
                   {{project.progress}}
                </div>
              </div>
              <br><a href="{% url 'projects:project' project.id project.title|slugify %}" class="btn btn-primary">Leer Más</a>
              {% if request.user.is_staff %}
              | <a href="{% url 'projects:update' project.id %}">Editar</a>
              | <a href="{% url 'projects:delete' project.id %}">Borrar</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
